@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
display: none;
}

body{
    @apply font-[Prod-normal] bg-[#040214];
}

.homebutton {
    @apply rounded-full px-7 min-w-[11rem] py-3 font-normal text-white lg:text-lg border-2 border-[#0060ff] hover:bg-[#004bb5] shadow-[0px_0px_38.5px_14px_#0060ff25] hover:shadow-[0px_0px_38.5px_14px_#0060ff50];
}

.evoxhighlight{
    @apply text-[#0060ff]
}

.middleshadow{
    box-shadow: 0px 4px 20px 20px rgb(0 96 255 / 0.05);
}

.active{
    @apply text-white underline underline-offset-8;
}

.buttonSelect {
    @apply w-fit text-center rounded-full border-2 border-[#0060ff] uppercase px-6 py-3 duration-100 ease-linear hover:bg-[#0060ff];
}

.fadeEffect {
    @apply !bg-clip-text text-center font-[prod-bold] text-[156px] text-transparent [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]
}
